@font-face {
  font-family: 'Klarna Headline';
  font-weight: 700;
  src: '../static/fonts/KlarnaHeadline-Bold.woff2' format('woff2'),
    '../static/fonts/KlarnaHeadline-Bold.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Headline';
  font-style: italic;
  font-weight: 700;
  src: '../static/fonts/KlarnaHeadline-Bolditalic.woff2' format('woff2'),
    '../static/fonts/KlarnaHeadline-Bolditalic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Headline';
  font-weight: 300;
  src: '../static/fonts/KlarnaHeadline-Light.woff2' format('woff2'),
    '../static/fonts/KlarnaHeadline-Light.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Headline';
  font-style: italic;
  font-weight: 300;
  src: '../static/fonts/KlarnaHeadline-LightItalic.woff2' format('woff2'),
    '../static/fonts/KlarnaHeadline-LightItalic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-weight: 700;
  src: '../static/fonts/KlarnaSans-Bold.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-Bold.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-style: italic;
  font-weight: 700;
  src: '../static/fonts/KlarnaSans-BoldItalic.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-BoldItalic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-weight: 300;
  src: '../static/fonts/KlarnaSans-Light.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-Light.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-style: italic;
  font-weight: 300;
  src: '../static/fonts/KlarnaSans-LightItalic.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-LightItalic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-weight: 500;
  src: '../static/fonts/KlarnaSans-Medium.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-Medium.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-style: italic;
  font-weight: 500;
  src: '../static/fonts/KlarnaSans-MediumItalic.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-MediumItalic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-weight: 400;
  src: '../static/fonts/KlarnaSans-Regular.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-Regular.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Sans';
  font-style: italic;
  font-weight: 400;
  src: '../static/fonts/KlarnaSans-RegularItalic.woff2' format('woff2'),
    '../static/fonts/KlarnaSans-RegularItalic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text Mono';
  font-weight: 500;
  src: '../static/fonts/KlarnaTextMono-Medium.woff2' format('woff2'),
    '../static/fonts/KlarnaTextMono-Medium.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text Mono';
  font-weight: 400;
  src: '../static/fonts/KlarnaTextMono-Regular.woff2' format('woff2'),
    '../static/fonts/KlarnaTextMono-Regular.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text';
  font-weight: 400;
  src: '../static/fonts/KlarnaText-Regular.woff2' format('woff2'),
    '../static/fonts/KlarnaText-Regular.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text';
  font-weight: 500;
  src: '../static/fonts/KlarnaText-Medium.woff2' format('woff2'),
    '../static/fonts/KlarnaText-Medium.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text';
  font-weight: 700;
  src: '../static/fonts/KlarnaText-Bold.woff2' format('woff2'),
    '../static/fonts/KlarnaText-Bold.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text';
  font-weight: 400;
  font-style: italic;
  src: '../static/fonts/KlarnaText-Italic.woff2' format('woff2'),
    '../static/fonts/KlarnaText-Italic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text';
  font-weight: 500;
  font-style: italic;
  src: '../static/fonts/KlarnaText-MediumItalic.woff2' format('woff2'),
    '../static/fonts/KlarnaText-MediumItalic.woff' format('woff');
}

@font-face {
  font-family: 'Klarna Text';
  font-weight: 700;
  font-style: italic;
  src: '../static/fonts/KlarnaText-BoldItalic.woff2' format('woff2'),
    '../static/fonts/KlarnaText-BoldItalic.woff' format('woff');
}
